@import "tailwindcss";

@theme {
    --color-primary: #D97706;
    --color-secondary: #059669;
    --color-accent: #F59E0B;
    --color-background: #1A1A1A;
    --color-card-background: #262626;
    --color-text-primary: #FEF3C7;
    --color-text-secondary: #9CA3AF;
}

* {
    font-family: Inter, sans-serif;
}

body {
    background-color: var(--color-background);
}